<div class="auth-wrapper">
  <mat-card appearance="outlined" class="auth-card">
    <mat-card-header>
      <mat-card-title><h2>Welcome</h2></mat-card-title>
      <mat-card-subtitle><p>Please enter your details to sign in.</p></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="alert error" *ngIf="errorMessage">{{ errorMessage }}</div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="email" type="email" placeholder="name@company.com">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="••••••••">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Sign In
        </button>
      </form>
    </mat-card-content>

    <mat-card-footer class="footer-text">
      <p>
        Don't have an account? <a routerLink="/register">Create one</a>
      </p>
    </mat-card-footer>
  </mat-card>
</div>